

.speech {color:black; font :'Times New Roman'; font-size: 14}
.direction {color:black; font: 'Courier New'; font-size: 16; background-color:cornsilk}
.direction:hover {background-color: beige; color:darkblue}
.ivanoff {color:blue}
.borkin {color:red}
table, th {border: solid 5px rgb(196, 170, 66); border-collapse: collapse; text-align: center; margin: 50px 250px; padding: 5px 25px}
.ivanoff:hover {text-shadow:2px 2px 2px gray; border: solid 2px black}
.borkin:hover {text-shadow:2px 2px 2px black; border: solid 2px black}
