

.speech {color:black; font :'Times New Roman'; font-size: 14}
.direction {color:black; font: 'Courier New'; font-size: 16; background-color:cornsilk}
.direction:hover {background-color: beige; color:darkblue}
.ivanoff {color:blue}
.borkin {color:red}